<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Curso Vuejs Ninja YouTube</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="fluid-container" id="app">
		<nav-bar></nav-bar>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>{{titulo}}</h1>
				</div>
				<div class="col-md-12">
					<menu-bar :items="[{label: 'A empresa'}, {label: 'Serviços'}, {label: 'Contato'}]"></menu-bar>
				</div>
			</div>
		</div>
	</div>

	<template id="nav">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		    <a class="navbar-brand" href="#">Navbar</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <menu-bar :items="topNav"
					@emit-click="getLink"
		        ></menu-bar>
		        <form class="form-inline my-2 my-lg-0">
		            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		        </form>
		    </div>
		</nav>
	</template>

	<template id="menu">
		<ul class="navbar-nav mr-auto">
            <li v-for="(item, index) in items" class="nav-item">
                <a @click.stop.prevent="emitClick(index)" class="nav-link" href="#">{{item.label}}</a>
            </li>
            <dropdown></dropdown>
        </ul>
	</template>

	<template id="drop">
		<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{dropLabel}}
            </a>
            <dropdown-menu :items="fofas"></dropdown-menu>
        </li>
	</template>

	<template id="drop-menu">
		<div class="dropdown-menu" aria-labelledby="navbarDropdown" v-for="item in items" :key="item.id">
			<a class="dropdown-item" href="#">{{item.label}}</a>
			<div class="dropdown-divider"></div>
		</div>
	</template>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script>
		Vue.component('nav-bar', {
			template: '#nav',
			data() {
				return {
					topNav: [{label: 'Home'}, {label: 'Link'}, {label: 'Disabled'}]
				}
			},
			methods: {
				getLink(index) {
					alert(this.topNav[index].label);
				}
			}
		});

		Vue.component('menu-bar', {
			template: '#menu',
			props: {
				items: {
					// type: String | Array | Object | Boolean,
					// type: ['String', 'Array', 'Object']
					type: Array,
					required: true
				}
			},
			methods: {
				emitClick(index) {
					this.$emit('emit-click', index);
				}
			}
		});

		Vue.component('dropdown', {
			template: '#drop',
			data() {
				return {
					dropLabel: 'Dropdown',
					fofas: [
						{
							id:1,
							label: 'Action',
						},
						{
							id:2,
							label: 'Another action',
						},
						{
							id:3,
							label: 'Something else here'
						}
					]
				}
			}
		});

		Vue.component('dropdown-menu', {
			template: '#drop-menu',
			props: {
				items: {
					type: Array
				}
			}
		});

		var app = new Vue({
			el: '#app',
			data: {
				titulo: "Vuejs do jeito ninja!"
			}
		});
	</script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>